.login {
    display: flex;
    flex-direction: column;
    background-image: url("../../../public/assets/background/EISC.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.titleLogin {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cardLogin {
    display: flex;
    margin: auto;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    height: 50vh;
    width: 50%;
    margin-right: 4rem;
    margin-left: 4rem;
    text-align: center;

}

.logoUnivalle {
    margin: 0 auto;
    margin-top: 2rem;
    width: 5rem;
    margin-bottom: 1rem;
}

.labelEISCMetaverse {
    color: black;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.pSubtitleLogin {
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-shadow: 0 0 6px rgba(255, 255, 255, 1);
}

.labelLogin {
    color: #4a5568;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: auto;
    padding: 1rem;
}

.buttonLogin {
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem auto;
}

.buttonLogin:hover {
    transform: scale(1.2);
    border: none;
    cursor: pointer;
}

.buttonLoginGuest {
    display: inline-block;
    padding: 0.5em 1em;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
    cursor: pointer;
    color: #fff;
    background-color: #dc3545;
    border: none;
    transition: transform 0.3s ease;

}

.buttonLoginGuest:hover {
    transform: scale(1.1);
    border: none;
    cursor: pointer;
    background-color: #c82333;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.buttonLoginGuest:active {
    background-color: #bd2130;
}

.iconGoogle {
    font-size: 3.75rem;
}

.errorLogin {
    color: red;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#modelviewer {
    height: 400px;
    width: 600px;
}

.frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    border: none;
}

@media (max-width: 768px) {
    .cardLogin {
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .formLogin {
        width: 85%;
        height: 20vh;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .labelEISCMetaverse {
        font-size: 1.5rem;
    }

    .pSubtitleLogin {
        font-size: 1rem;
    }

    .labelLogin {
        font-size: 1rem;
    }

    .buttonLoginGuest {
        font-size: 0.8rem;
    }

    .errorLogin {
        font-size: 0.8rem;
    }

}