.container-login {
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/assets/background/EISC.jpg");
  background-size: cover;
  background-position: center;
  height: 130vh;
  width: 100vw;
}

.container-login > :first-child {
  margin-bottom: auto;
}

.container-login > :last-child {
  margin-top: auto;
}

.card-login {
  display: flex;
  margin: auto;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  height: 50vh;
  width: 45vh;
  text-align: center;
  border-bottom: 0.5rem solid #ff6550;
  margin: 1rem 2rem;
}

.form-login > :first-child {
  margin-bottom: auto;
}

.form-login > :last-child {
  margin-top: auto;
}

.span-form-title {
  color: #000000;
  font-size: x-large;
  font-weight: bold;
}

@media (max-width: 768px) {

  .container-login {
    background-size: cover;
  }

  .card-login {
    flex-direction: column;
  }
  .form-login {
    height: 40vh;
    width: 35vh;
  }
}
