.container-register {
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/assets/background/EISC.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card-form-register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 1rem;
  border-bottom: 0.5rem solid #ff6550;
  padding: 5rem;
}



