.container-register {
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/assets/background/EISC.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card-form-register {
  display: flex;
  justify-content: center;
  height: 100%;
  
}

.form-register {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  border-bottom: 0.5rem solid #ff6550;
  padding: 4rem;
  width: 30%;
}



