.container-title-eisc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
  gap: 2rem;
}

.logo-univalle {
  width: 5rem;
}

.logo-camaleon{
  width: 7.3rem;
}
.span-title {
  margin-top: 1rem;
  color: #000000;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 1px 2px 4px whitesmoke;
}


@media (max-width: 1280px) {
  .span-title {
    font-size: x-large;
  }
}

@media (max-width: 768px) {
  .span-title {
    font-size: large;
  }
}
