.logout {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; /* Valor de z-index más alto que el del canvas */
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  .logout > button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .logout > button:hover {
    cursor: pointer;
  }
  
  .iconLogout {
    font-size: 2.5rem;
    padding: 0.5rem 0.5rem;
    color: #4a5568;
    transition: transform 0.3s ease;
  }