@keyframes blink {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}

.container-instructive > img {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  object-fit: contain;
  background-color: black;
}

.container-instructive > span {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  margin-top: -2rem;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: larger;
}

.loading-text span {
  animation: blink 1.5s infinite;
}
