.cardFormUser {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.formUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    height: 85vh;
    border-bottom: 0.5rem solid #ff6550;
}

.formUser section{
    margin-top: 8rem;
}

.formUser section > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.buttonSaveDataUser {
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #f65c5c, #eb2525);
    background-color: #f65c5c;
    transition: background-color 0.3s ease, background-image 0.3s ease;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.50rem 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
    transition: transform 0.3s ease;
}

.buttonSaveDataUser:hover {
    transform: scale(1.03);
    background-image: linear-gradient(to bottom left, #f65c5c, #eb2525);
    cursor: pointer;
}

.buttonSaveDataUser:focus {
    outline: none;
}