.button-add-new-atention-schedule {
    display: inline-block;
    border: none;
    margin-top: 0.45rem;
    margin-left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
    cursor: pointer;
}

.section-form-register .atention-schedule {
    display: flex;
    flex-direction: row;
}

.section-form-register .atention-schedule > div {
    display: flex;
    flex-direction: column;
}
  