.cardFormTeacher {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.formTeacher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 2rem;
    text-align: center;
    height: 85vh;
    border-bottom: 0.5rem solid #ff6550;
}

.Section1 {
    margin-top: 10rem;
}

.Section2 {
    margin-top: 16rem;
}

.formTeacher section>div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.buttonSaveDataTeacher {
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #f65c5c, #eb2525);
    transition: background-color 0.3s ease, background-image 0.3s ease;
    background-color: #f65c5c;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.50rem 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    width: 40%;
    transition: transform 0.3s ease;
}

.buttonSaveDataTeacher:hover {
    transform: scale(1.03);
    background-image: linear-gradient(to bottom left, #f65c5c, #eb2525);
    cursor: pointer;
}

.buttonSaveDataTeacher:focus {
    outline: none;
}

.buttonNext,
.buttonBack {
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #b69999, #826f6f);
    transition: background-color 0.3s ease, background-image 0.3s ease;
    background-color: #a69393;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.50rem 1rem;
    text-align: center;
    margin-right: 0.25rem;
    width: 40%;
    margin-bottom: 0.25rem;
    transition: transform 0.3s ease;
}

.buttonNext:hover,
.buttonBack:hover {
    transform: scale(1.03);
    background-image: linear-gradient(to bottom left, #c0aaaa, #886f6f);
    cursor: pointer;
}

.buttonNext:focus,
.buttonBack:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .cardFormTeacher {
        width: 60%;
    }

    .atention_schedule {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
    }

    .atention_schedule div>input {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }
}