.institutional-card {
    margin: 0 auto;
    width: 15rem;
    transform: rotate(-5deg);
}

.button-login {
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.button-login:hover {
    transform: scale(1.2);
    border: none;
    cursor: pointer;
}

.icon-google {
    font-size: 3.75rem;
}

.error-login {
    color: red;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
}

@media (max-width: 1024px) {
    .institutional-card {
        width: 12rem;
    }
}