.atention-schedule-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.25rem;
}
.container-input-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

