.container-title-eisc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.logo-univalle {
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
}

.span-title {
    margin-top: 1rem;
    color: #000000;
    font-size: xx-large;
    font-weight: bold;
}

.span-subtitle {
    color: #000000;
    font-size: large;
    font-weight: medium;
}