html, body, #root {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  user-select: none;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.form-label {
  align-self: flex-start;
  color: #4a5568;
  font-size: 1rem;
  font-weight: bold;
}

.form-input {
  appearance: none;
  background-color: #e2e8f0;
  color: #4a5568;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  line-height: 1.25;
  outline: none;
}

.required-value {
  color: #ff6550;
  font-size: 1rem;
  font-weight: bold;
}

.form-input-time {
  appearance: none;
  background-color: #e2e8f0;
  color: #4a5568;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  outline: none;
  margin-left: 0.25rem;
  padding: 0.15rem;
  font-size: medium;
}

.form-select {
  background-color: white;
  line-height: 1.5;
  padding: 0.15rem;
  font-size: medium;
}

.button {
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    #8f8f8f,
    #8e8e8e
  );
  background-color: gray;
  transition: transform 0.3s ease, background-color 0.3s ease,
    background-image 0.3s ease;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 8rem;
}

.button:hover {
  transform: scale(1.03);
  background-image: linear-gradient(
    to bottom left,
    #6a6a6a,
    #8e8e8e
  );
  cursor: pointer;
}

.button-submit {
  color: #fff;
  background-image: linear-gradient(to bottom right, #f65c5c, #eb2525);
  transition: transform 0.3s ease, background-color 0.3s ease,
    background-image 0.3s ease;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.button-submit:hover {
  transform: scale(1.03);
  background-image: linear-gradient(to bottom left, #f65c5c, #eb2525);
  cursor: pointer;
}

.button-submit:focus {
  outline: none;
}

.button-edit {
  color: #fff;
  background-image: linear-gradient(to bottom right, #ffbb00, #ff9d00);
  transition: transform 0.3s ease, background-color 0.3s ease,
    background-image 0.3s ease;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 1rem;
  width: 8rem;
  transition: transform 0.3s ease;
}

.button-edit:hover {
  transform: scale(1.03);
  background-image: linear-gradient(to bottom left, #ff9d00, #ffbb00);
  cursor: pointer;
}

.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}


.atention-schedule-container .atention-schedule{
  display: flex;
  flex-direction: column;
}

.button-add-new-atention-schedule  {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #f00;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
}

.button-delete-atention-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #8e8e8e;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
}

.container-button{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.vertical-separator{
  border-left: 0.2rem solid #cbd5e0;
  height: 90%;
}

.atention-schedule{
  overflow-y: auto;
  max-height: 12rem;
}

@media (max-width: 768px) {

  .vertical-separator{
    display: none;
  }
  
}