.container-profile  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-image: url("/public/assets/background/EISC.jpg");
    background-size: cover;
    background-position: center;
}

.card-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    height: 95vh;
    text-align: center;
    border-bottom: 0.5rem solid #ff6550;
}

