.container-user {
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    align-items: center; 
    width: 100vw;
    position: absolute;
    z-index: 2;
}

.button-user {
    background-color: white;
    outline: none;
    cursor: pointer;
    width: 4rem; 
    height: 4rem;
    border-radius: 50%;
    display: flex;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
}   

.icon-user {
    width: 100%; 
    height: auto;
    border-radius: 50%; 

}