.container-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  position: absolute;
  z-index: 3;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.menu-nav {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.menu-nav > ul {
  list-style: none;
  padding: 0rem 0.5rem;
}

.button-avatar {
  background-color: white;
  outline: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
}

.button-exit {
  background-color: white;
  outline: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  font-size: x-large;
}

.icon-avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
