.container-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-404 {
  font-size: 5rem;
  color: #f00;
  margin-bottom: 1rem;
}

.message-not-found {
  font-size: 2rem;
  color: #555;
}
